<!DOCTYPE html>

{% load static %}

<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="Max Reshetnik" />
        {% block title %}
        <title>Shop Homepage</title>
        {% endblock %}
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/png" href="{% static 'shop/icon.png' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Bootstrap theme CSS
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
         -->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'shop/style.css' %}" rel="stylesheet" type="text/css"/>
    </head>
    <body class="d-flex flex-column h-100">
        <!-- Header -->
        {% block header %}
        <header class="py-2 bg-light">
            <div class="container px-4 px-lg-5">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <div class="d-flex col-6 col-lg-auto me-auto">
                        <a href="/" class="navbar-brand me-4 text-dark">Portfolio</a>
                        <a href="https://github.com/maxreshetnik/shop" class="nav-link link-secondary text-center me-4"><i class="bi-github me-1"></i>GitHub</a>
                    </div>
                    <div class="col-lg-auto me-lg-auto">
                        <div class="text-start">
                            <i class="bi-telegram me-2"></i><i class="bi-whatsapp me-2"></i>999-00-00
                        </div>
                        <div class="text-start"><i class="bi-envelope-fill me-2"></i>info@example.com</div>
                    </div>

                    <div class="d-flex col-12 col-lg-5 my-2 my-lg-0 align-items-center justify-content-end">
                        <form action="{% url 'shop:search' %}" method="get" class="me-3">
                            <input type="search" class="form-control" name="q" placeholder="Search..."
                                   aria-label="Search" required>
                        </form>
                    {% if view.request.user.is_authenticated %}
                        {% block cart %}
                        <a href="{% url 'shop:cart' %}" class="btn btn-sm btn-light border-0 px-1 py-0 me-4 position-relative">
                            {% if cart %}
                            <i class="fs-5 bi-cart-fill bi-lg"></i>
                            <span class="badge bg-warning text-dark rounded-circle mt-1 position-absolute top-0 start-100 translate-middle">
                                {% block cart_num %}
                                {{ cart|length }}
                                {% endblock cart_num %}
                            </span>
                            {% else %}
                            <i class="fs-5 bi-cart bi-lg"></i>
                            <span class="badge bg-secondary rounded-circle mt-1 position-absolute top-0 start-100 translate-middle">0</span>
                            {% endif %}
                            <span class="visually-hidden">items in cart</span>
                        </a>
                        {% endblock cart %}
                        {% block account %}
                        <div class="dropdown text-end">
                            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle px-1 pt-1" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fs-4 bi-person-fill me-1"></i>Account
                            </a>
                            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                                <li><a class="dropdown-item" href="{% url 'shop:profile' %}">Profile</a></li>
                                <li><a class="dropdown-item" href="{% url 'shop:order_list' %}">Orders</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{% url 'shop:logout' %}?next={% url 'shop:home' %}">Sign out</a></li>
                            </ul>
                        </div>
                        {% endblock account %}
                    {% else %}
                        {% block login %}
                        {% include "shop/includes/modal_login.html" with next=view.request.path_info %}
                        <a class="btn btn-outline-dark me-2" data-bs-toggle="modal" href="#loginModal" role="button">Login</a>
                        <a class="btn btn-warning flex-shrink-0" data-bs-toggle="modal"  href="#signUpModal" role="button">Sign-up</a>
                        {% endblock login %}
                    {% endif %}
                    </div>
                </div>
            </div>
        </header>
        {% endblock header %}
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg py-1 navbar-dark bg-dark">
            <div class="container px-4 px-lg-5 position-relative">
                {% block message %}{% endblock %}
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% block navbar %}
                    {% block categories %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        {% url 'shop:home' as home_url %}
                        <li class="nav-item me-3">
                            <a class="nav-link{% if home_url == view.request.path_info %} active{% endif %}"
                               aria-current="page" href="{{ home_url }}">Home
                            </a>
                        </li>
                        {% for category in catalog %}
                        {% url 'shop:category' category.name|lower as category_url %}
                        <li class="nav-item dropdown">
                            <a class="nav-link{% if category == view.kwargs.category %} active{% endif %} dropdown-toggle"
                               aria-current="page" id="{{ category.name }}" href="{{ category_url }}" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">{{ category.name }}
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="{{ category.name }}">
                                <li><a class="dropdown-item{% if category_url == view.request.path_info %} active{% endif %}" href="{{ category_url }}">All Products</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                <li><a class="dropdown-item" href="{{ category_url|add:'new/' }}">New Arrivals</a></li>
                                <li><a class="dropdown-item" href="{{ category_url }}popular/">Popular Items</a></li>
                                <li><hr class="dropdown-divider" /></li>
                                {% for subcategory in category.subcategories %}
                                <li>
                                    <a class="dropdown-item" href="{{ category_url }}{{ subcategory.name|lower }}/">
                                        {{ subcategory.name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endblock categories %}
                {% endblock navbar %}
                </div>
            </div>
        </nav>
        <!-- Section-->
        <section class="flex-shrink-0 py-4">
            <nav class="container px-4 px-lg-5" aria-label="breadcrumb">
                {% block breadcrumbs %}{% endblock %}
            </nav>
            <div class="container px-4 px-lg-5 mt-5">
                {% block content %}{% endblock content %}
                {% block pagination %}{% endblock pagination %}
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer py-3 bg-dark mt-auto">
            <div class="container">
                <p class="m-0 text-center text-white">Copyright &copy; Max Reshetnik {% now "Y" %}</p>
            </div>
        </footer>
        <!-- Bootstrap core JS
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        -->
        <!-- Bootstrap JS and Popper separate
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
        -->
        <!-- Core theme JS-->
        <script src="{% static 'shop/bootstrap.bundle.min.js' %}"></script>
    </body>
</html>
