{% extends "shop/base.html" %}

{% block title %}
<title>Product search - Shop</title>
{% endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb ms-lg-4 ps-4">
    <li class="breadcrumb-item"><a href="{% url 'shop:home' %}" class="text-decoration-none">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Search</li>
</ol>
{% endblock %}

{% block content %}
    {% include "shop/includes/section_home.html" %}
{% endblock content %}

{% block pagination %}
{% if is_paginated %}
    {% include "shop/includes/pagination.html" %}
{% endif %}
{% endblock pagination %}
