{% extends "shop/base.html" %}

{% block title %}
<title>
    {{ view.kwargs.subcategory|default:category.name|capfirst }} - Shop
</title>
{% endblock %}

<!-- Section -->
{% block breadcrumbs %}
<ol class="breadcrumb ms-lg-4 ps-4">
    <li class="breadcrumb-item"><a href="{% url 'shop:home' %}" class="text-decoration-none">Home</a></li>
    {% if view.kwargs.subcategory %}
    <li class="breadcrumb-item">
        <a href="{% url 'shop:category' category.name|lower %}" class="text-decoration-none">{{ category.name }}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ view.kwargs.subcategory|capfirst }}</li>
    {% else %}
    <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
    {% endif %}
</ol>
{% endblock %}

{% block content %}
    {% include "shop/includes/section.html" %}
{% endblock content %}

{% block pagination %}
{% if is_paginated %}
    {% include "shop/includes/pagination.html" %}
{% endif %}
{% endblock pagination %}
