
{% extends "shop/base.html" %}
{% load verbose_names decimal_normalize %}
{% load get_cart_form_detail from cart_form %}

{% block title %}
<title>
    {{ spec.category.name }} {{ spec.product.name }}
    {{ spec.product.marking }} {{ spec.tag }} - Shop
</title>
{% endblock title %}

<!-- Section -->
{% block breadcrumbs %}
{% url 'shop:category' spec.category.category.name|lower as category_url %}
<ol class="breadcrumb ms-lg-4 ps-lg-4">
    <li class="breadcrumb-item"><a href="{% url 'shop:home' %}" class="text-decoration-none">Home</a></li>
    <li class="breadcrumb-item">
        <a href="{{ category_url }}" class="text-decoration-none">
            {{ spec.category.category.name }}
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="{{ category_url }}{{ spec.category.name|lower }}/"
           class="text-decoration-none">{{ spec.category.name }}
        </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
        {{ spec.category.name }} {{ spec.product.name }}
        {{ spec.product.marking }} {{ spec.tag }}
    </li>
</ol>
{% endblock breadcrumbs %}

{% block content %}
<!-- Heading Row-->
<div class="card-group my-5">
    <div class="card border-0">
        <img class="card-img-top w-75 rounded"
             src="{% if spec.image %}{{ spec.image.url }}{% else %}{{ spec.product.image.url }}{% endif %}" alt="..." />
    </div>
    <div class="card border-0">
        <div class="card-body pt-0">
            <h5 class="card-title mb-3">
                {{ spec.category.name }} {{ spec.product.name }}
                {{ spec.product.marking }} {{ spec.tag }}
            </h5>
            {% if spec.rating is None %}
            <div class="d-flex justify-content-start small mb-4">
                <div class="bi-star"></div>
                <div class="bi-star"></div>
                <div class="bi-star"></div>
                <div class="bi-star"></div>
                <div class="bi-star"></div>
            </div>
            {% else %}
            <div class="d-flex justify-content-start small text-warning mb-4">
            {% for star, half in rating_scale %}
                {% if spec.rating > star %}
                <div class="bi-star-fill"></div>
                {% elif spec.rating > half %}
                <div class="bi-star-half"></div>
                {% else %}
                <div class="bi-star"></div>
                {% endif %}
            {% endfor %}
            </div>
            {% endif %}
            <div class="card-text">
            {% if spec.sale_price %}
                ${{ spec.sale_price }} <span class="badge bg-dark text-white top-0 ms-1">Special price</span>
            {% elif spec.discount %}
                ${{ spec.discount_price }}
                <span class="text-muted text-decoration-line-through">${{ spec.price }}</span>
                <span class="badge bg-dark text-white">-{{ spec.discount }}%</span>
            {% else %}
                ${{ spec.price }}
            {% endif %}
            </div>
            <div class="card-text mt-3">
                description: {{ spec.product.description }}<br/>{{ spec.addition }}
                {% if spec.pre_packing != 1 %}
                <p class="text">pre-packing
                    {{ spec.pre_packing|decimal_normalize }}{{ spec.product.unit|lower }}
                </p>
                {% endif %}
            </div>
        </div>
        <div class="card-footer border-0 bg-transparent">
            <form method="post" id="add-to-cart-{{ spec.id }}" action="{{ view.request.get_full_path_info }}#add-to-cart-{{ spec.id }}">
                {% csrf_token %}
                {% get_cart_form_detail spec cart form is_auth=view.request.user.is_authenticated %}
            </form>
        </div>
    </div>
</div>
<div class="card my-5 py-1 border-0 text-center">
    <div class="card-body bg-light">
        <h6 class="card-title text-white bg-secondary py-2 mb-3">More details:</h6>
        <div class="card-text text-start px-5">
            <div class="row row-cols-2 gy-2 border-0 justify-content-evenly">
            {% block details %}
                <div class="col-5">{% verbose_name spec "weight_vol" %}</div>
                <div class="col-3">{{ spec.weight_vol|decimal_normalize }} {{ spec.product.unit_for_weight_vol|lower }}</div>
            {% endblock %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

